body {
  text-align: center;
  background-image: url(img/linen.png);
  color: black;
}

li {
   vertical-align: middle;
   float:right;
   }


ul {
    background-color: black;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li a {
    color: white;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    vertical-align: middle;
}

li a:hover {
    background-color: #111;
}

h1 {
  font-size: 27px;
  text-align: left;
}

.main-paragraph {
  text-align: left;
  width: 400px;
  margin: auto;
  margin-top: 100px;
}

.bear {
  width: 400px;
  height: 400px;
}
